<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">


<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth', events: [{ title: "breakfast", start: "2021-12-16" }]
    });

    const event = { title: "dinner", start: "2021-12-15", backgroundColor: "purple" };
    calendar.addEvent(event);
    calendar.render();
    
  });

</script>

<div class="container mt-4">

  {{!-- {{#if events.length}}

  {{#each events as |event|}}
  const event = { title: "{{event.descript}}", start: "{{event.date}}"};

  calendar.addEvent(event);
  calendar.render();

  {{#/each}}
  {{#/if}} --}}

<div id='calendar'></div>
</div>


