  <div class="container">
    <div class="jumbotron">
      <h1 class="display">Where's the Party at?</h1>
      <br>
      <p>Sign-Up or Login in to create an event or look for an event to attend.</p><br>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
