  <div class="container">
    <div class="jumbotron">          
      <p>Creating an event or looking for one to attend, just ...</p>
      <p>Sign-Up or Login </p><br>
      <a class="btn btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
