@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


.jumbotron {
  background-color: transparent;
  text-align: center;
  color: black;
  font-family: 'Rock Salt', cursive;
  font-size: 4em;
  font-weight: 800;
}

main {
  display: block;
  font-family: 'Rock Salt', cursive;
}

body {
   height: 100vh;
  width:100vw;  
  background-image: url(../images/pxfuel.jpg); 
  background-repeat: repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background: transparent;
   
}

.nav-link {
  color: black;
  
}

.body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 25px;
  background-color: #bdc3c7;
  color: black;
 border-color: #bdc3c7;
  font-family: 'Rock Salt', cursive;
}

.btn {
  background-color: #636363;
  border-color: black;
   color: white;
}

.mt-4 {
  margin: 0%;
}


