@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

html {
  width: 100vw;
  height: 100vh;
  line-height: 1.15;
}

nav {
  background-color: transparent;
  color: white;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

nav li a:hover {
  color: purple;
  text-decoration: none;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  color: purple;
  font-family: 'Rock Salt', cursive;
  font-weight: bolder;
}

main {
  display: block;
   font-family: 'Rock Salt', cursive;
}

body {
  background-image: url(../images/pxfuel.jpg);
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
}

.body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
  align-items: center;
}

.card {
  width: 50%;
  border-radius: 25px;
  background-color: purple;
  color: white;
  font-family: 'Rock Salt', cursive;
}

.btn {
  background-color: plum;
}

.mt-4 {
  margin: 0%;
}
